html {
  height: 100% !important;
  width: 100% !important;
}

body {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  font-family: Arial, sans-serif;
  font-size: small;
  padding: 0;
  color: white !important;
  background: rgb(2, 0, 36);
  background: linear-gradient(45deg, #020024 0%, #393e46 36%, #00d4ff 100%);
  background-attachment: fixed;
}

.navigation-container button {
  margin: 0 1em;
}

div {
  margin: 2px;
  padding: 3px;
}

span {
  font-size: x-large;
  font-weight: bold;
}

h2 {
  margin-bottom: 10px !important;
}

.slick-prev {
  left: -5px !important;
  width: 35px !important;
  height: 35px !important;
  background-color: #008cba !important;
  z-index: 3;
}

.slick-next {
  right: -5px !important;
  width: 35px !important;
  height: 35px !important;
  background-color: #008cba !important;
}

.slick-dots {
  bottom: 10px !important;
}

.slick-dots li button:before {
  font-size: 15px !important;
}

.slick-disabled {
  background-color: #888 !important;
  pointer-events: none;
}

.slick-list {
  margin-left: 25px !important;
}

button {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 10px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px !important;
  margin: 4px 2px !important;
  transition-duration: 0.4s;
  cursor: pointer !important;
  border-radius: 8px !important;
}

button:hover {
  background-color: white;
  color: black;
  outline: 2px solid #008cba;
}

button:disabled {
  background-color: #888;
  pointer-events: none;
}

.Info-button button {
  font-size: 20px !important;
  font-weight: 600;
}

.legend-table,
.legend-table td {
  border: 1px solid black;
  border-collapse: collapse;
}

.legend-table-percentage {
  padding-left: 10px !important;
}

li {
  margin-bottom: 6px;
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

.slider-container {
  color: black;
  font-size: large;
  box-shadow: 0px 0px 10px 4px #393e46;
  border-radius: 25px;
  background-color: white;
  max-width: 1069.42px;
  min-width: 1069.42px;
  /* min-height: 679px; */
}

.container_header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 885.047px;
  margin: auto;
}

.carousel-inner {
  max-width: 1069.42px;
  padding: 42px;
  /* min-height: 679px ; */
}


.container_slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}


.container_footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 885.047px;
  margin: auto;
}



/* -------------------media query------------------------ */
@media screen and (max-width: 1440px) {
  .container_header, .container_footer {
    max-width: 885.047px;
  }
}

@media screen and (max-width: 1024px) {
  .container_header, .slider-container, .container_footer {
    max-width: 707.797px;
    min-width: 707.797px;

  }
}

@media screen and (max-width: 769px) {
  body {
    height: 100%;
  }

  .container_slider {
    flex-wrap: wrap;
  }

  .container_slider>div:nth-child(2) {
    flex-basis: 100%;
  }

  .container_slider>div:nth-child(1) {
    order: 2;
  }

  .container_slider>div:nth-child(3) {
    order: 3;
  }

  .container_footer {
    justify-content: space-between !important;
  }
}

@media screen and (max-width: 425px) {
  body {
    height: 100%;
  }

  .container_slider_button div button {
    font-size: 12px !important;
  }
}

@media screen and (max-width: 375px) {
  .carousel-inner {
    padding: 16px;
    /* min-height: 679px ; */
  }

  .container_slider_button div button {
    font-size: 12px !important;
  }
}

@media screen and (max-width: 320px) {
  .container_slider_button div button, .container_footer button {
    padding: 6px 8px !important;
    font-size: 12px !important;
  }
}

/* -------------------overwrite bootstrap classes------------------------ */
.carousel-control-prev, .carousel-control-next {
  background-color: #008cba !important;
  top: 46% !important;
  width: 46px !important;
  height: 46px !important;
  border-radius: 8px !important;
  opacity: 0.7;
}

.carousel-control-prev {
  left: 4px !important;
}

.carousel-control-next {
  right: 4px !important;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  padding: 8px;
  width: 32px;
  height: 32px;
  border-radius: 8px !important;
}

.carousel-indicators {
  bottom: -22px;
}

.carousel-indicators [data-bs-target] {
  background-color: #008cba;
  height: 12px;
  border-radius: 12px !important;
}

.disable_button {
  opacity: 0.3;
  pointer-events: none;
}